# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Visual Studio Code
.vscode/

# Spyder IDE
.spyderproject
.spyproject

# Environments
.env

# virtualenv
venv/
ENV/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Python Installer
*.msi
*.msm
*.msp

# Windows Installer files
*.cab
*.pdb
*.exe

# Debris
*.ini
*.dll
*.dump
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3