[Unit]
Description=Gunicorn instance to serve myapp
After=network.target

[Service]
User=dreamtcs  # Replace with your username
WorkingDirectory=/var/www/python.asdc.cc
ExecStart=/var/www/python.asdc.cc/myenv/bin/gunicorn -w 1 -b 0.0.0.0:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
