<!DOCTYPE html>
<html>
<head>
    <title>Web Page</title>
</head>
<body>
    <h1>Welcome to my web page!</h1>
    <p>This is a simple web page.</p>
    <div id="data"></div>
 
    <a href="/webhook">Webhook</a><br/>
    <a href="/s2soauthaccesstoken">Get access token from S2S OAuth</a><br/>
    <a href="/redirecturlforoauth?code=xxxx">Redirect URL for OAuth </a><br/>
    <a href="/oauthrefreshtoken?code=xxxx">Refresh Token for OAuth </a><br/>
    <br/>

    <a href="https://zoom.us/oauth/authorize?response_type=code&client_id=eVWunhTCTjKBD4GNUXxABQ&redirect_uri=https%3A%2F%2Fpython.asdc.cc%2Fredirecturlforoauth">application adding url</a>
</body>
</html>
